.hero {
    display: flex;
    justify-content: center;  
    align-items: center;      
    padding: 100px 0;        
    background-color: #fff;
  }
  
  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;     
    gap: 50px;          
    padding: 0 20px;
  }
  
  .hero__text {
    flex: 1; 
  }
  
  .hero__text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: #1B1B1B  ;
    margin-bottom: 20px;
  }
  
  .blue {
    color: #1664EA;
  }

  .hero__text p {
    font-size: 16px;
    line-height: 140%;
    color: #1B1B1B;
    max-width: 500px; 
    margin-bottom: 25px;
  }

  .hero__socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0;
    margin: 10px 0 20px;
    max-width: 500px;
  }

  .hero__socials p {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 140%;
    font-style: bold;
    color: #1B1B1B;
    font-weight: 700;
  }

  .hero__socials img {
    width: 40px;
    height: 40px;
  }
  
  .hero__photo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero__photo img {
    width: 400px;
    height: 382px;
    border-radius: 16px;
    object-fit: cover;
  }